author: Flavio Lichtenstein  
data update:   2019/01/26
data created:  2016/07/20  
local: Molecular Biology/Inovation & CENTD - Butantan Institute  

## Lecture 03 - introduction R

**assign a value to a variable**

In [1]:
a <- 1
2 -> b
c = 3

### How to echo here / console

In [2]:
a

[1] 1

In [3]:
a
b

[1] 1

[1] 2

In [4]:
#-- observe: all vars are matrices [1] 

print(a)
print(b)
print(c)

[1] 1
[1] 2
[1] 3

In [5]:
print( a,b,c )

[1] 1

In [6]:
print( c(a,b,c) )

[1] 1 2 3

In [7]:
paste( a,b,c )

[1] "1 2 3"

In [8]:
print( paste(a,b,c) )

[1] "1 2 3"

In [9]:
print( paste(a,b,c, sep = ";" ))

[1] "1;2;3"

In [10]:
cat( paste(a,b,c) )

1 2 3

In [11]:
cat( sprintf("variables are %s, %s and %s.\n", a, b, c))

variables are 1, 2 and 3.

### Mathematical operations

In [12]:
#--- addition
a+b

[1] 3

a+b+c

In [13]:
#-- subtraction
a - b

[1] -1

In [14]:
#-- multiplication
a * b

[1] 2

In [15]:
sprintf("Multiplication a=%d *  b=%d =  %d", a, b, a*b)

[1] "Multiplication a=1 *  b=2 =  2"

In [16]:
#-- division
a / b

[1] 0.5

In [17]:
#-- potentialization
b**2

[1] 4

In [18]:
#-- potentialization
a**b

[1] 1

In [19]:
#--- square root
sqrt(b)

[1] 1.414214

In [20]:
#--- any root
b**(1/2)

[1] 1.414214

In [21]:
#-- mod
print(a %% b)
print(5 %% 2)
print(5 %% 3)

[1] 1
[1] 1
[1] 2

In [22]:
#-- integer division
print(a %/% b)
print(5 %/% 2)
print(5 %/% 3)
print(21 %/% 5)

[1] 0
[1] 2
[1] 1
[1] 4

In [23]:
#--- complex operations 
5 + 2*(a*b*c**2)

[1] 41

In [24]:
#-- exponetialtion
exp(1)

[1] 2.718282

In [25]:
#-- expoente using a var
exp(b)

[1] 7.389056

In [26]:
#-------- rounding ----------------

a = 1/6
b = round(a, 2)
c = round(a)

print(paste(a, class(a)))
print(paste(b, class(b)))
print(paste(c, class(c)))

[1] "0.166666666666667 numeric"
[1] "0.17 numeric"
[1] "0 numeric"

In [27]:
#--- comparings --> result boolean

a = 3
b = 4
c = (a == b)
d = (a != b)

print(paste(a, class(a)))
print(paste(b, class(b)))
print(paste(c, class(c)))
print(paste(d, class(d)))

[1] "3 numeric"
[1] "4 numeric"
[1] "FALSE logical"
[1] "TRUE logical"

### Data types

In [28]:
a = 3
b = 3.5
c = 1/6
d = "a"
e = "abcd"
f = "I saw a bird."

print(paste(a, class(a)))
print(paste(b, class(b)))
print(paste(c, class(c)))
print(paste(d, class(d)))
print(paste(e, class(e)))

sprintf("frase: '%s', type:'%s'",f, class(f))
cat(sprintf("frase: '%s', type:'%s'",f, class(f)))

[1] "3 numeric"
[1] "3.5 numeric"
[1] "0.166666666666667 numeric"
[1] "a character"
[1] "abcd character"

[1] "frase: 'I saw a bird.', type:'character'"

frase: 'I saw a bird.', type:'character'

In [29]:
intToBits(12)

 [1] 00 00 01 01 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
[26] 00 00 00 00 00 00 00

In [30]:
x <- rev(intToBits(12))
x <- paste(as.integer(x), collapse = "")

In [31]:
x = intToBits(12)
class(x)
typeof(x)

[1] "raw"

[1] "raw"

In [32]:
suppressWarnings(library(R.utils))

x = intToBin(12)

print(x)
cat(x)
typeof(x)

Loading required package: R.oo
Loading required package: R.methodsS3
R.methodsS3 v1.7.1 (2016-02-15) successfully loaded. See ?R.methodsS3 for help.
R.oo v1.22.0 (2018-04-21) successfully loaded. See ?R.oo for help.

Attaching package: ‘R.oo’

The following objects are masked from ‘package:methods’:

    getClasses, getMethods

The following objects are masked from ‘package:base’:

    attach, detach, gc, load, save

R.utils v2.6.0 (2017-11-04) successfully loaded. See ?R.utils for help.

Attaching package: ‘R.utils’

The following object is masked from ‘package:utils’:

    timestamp

The following objects are masked from ‘package:base’:

    cat, commandArgs, getOption, inherits, isOpen, parse, warnings

[1] "1100"
1100

[1] "character"

### Every variable in R is a vector ou matrix

In [33]:
a
class(a)

[1] 3

[1] "numeric"

In [34]:
v = c(1,2,3)
v

[1] 1 2 3

In [35]:
class(v)
length(v)

[1] "numeric"

[1] 3

In [36]:
v2 = rep("a",3)
v2

[1] "a" "a" "a"

In [37]:
class(v2)
length(v2)

[1] "character"

[1] 3

In [38]:
v3 = seq(1,30,2)
v3

 [1]  1  3  5  7  9 11 13 15 17 19 21 23 25 27 29

In [39]:
class(v3)
length(v3)

[1] "numeric"

[1] 15

### Add and Delete elements in a vector

In [40]:
#-- a simple vector
v = c(1,2,3)
v

[1] 1 2 3

In [41]:
#-- merging - union
v = c(v, c(4,5,6))
v

[1] 1 2 3 4 5 6

In [42]:
v = v[-(2)]
v

[1] 1 3 4 5 6

### Filtering elements in a vector

In [43]:
v[2:3]

[1] 3 4

In [44]:
v[2:]

ERROR: Error in parse(text = x, srcfile = src): <text>:1:5: unexpected ']'
1: v[2:]
        ^

In [45]:
v[2:length(v)]

[1] 3 4 5 6

### Operations in a vector

In [46]:
v = 1:10
v**2

 [1]   1   4   9  16  25  36  49  64  81 100

In [47]:
v*5

 [1]  5 10 15 20 25 30 35 40 45 50

In [48]:
v/2

 [1] 0.5 1.0 1.5 2.0 2.5 3.0 3.5 4.0 4.5 5.0

In [49]:
v+3

 [1]  4  5  6  7  8  9 10 11 12 13

In [50]:
3 %in% v

[1] TRUE

In [51]:
v == 3

 [1] FALSE FALSE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE

In [52]:
which(v == 3)

[1] 3

In [53]:
v < 4

 [1]  TRUE  TRUE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE

In [54]:
which(v < 4)

[1] 1 2 3

In [55]:
v[v < 4]

[1] 1 2 3

### Matrices

see: https://www.statmethods.net/advstats/matrix.html

In [56]:
v1 = c(1,2,3)
v2 = c(4,5,6)
v3 = c(7,8,9)

mat = matrix( c(v1,v2,v3), ncol=3, nrow=3)
mat

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

In [57]:
mat = matrix( c(v1,v2,v3), ncol=3, nrow=3, byrow = F)
mat

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

In [58]:
mat = matrix( c(v1,v2,v3), ncol=3, nrow=3, byrow = T)
mat

     [,1] [,2] [,3]
[1,] 1    2    3
[2,] 4    5    6
[3,] 7    8    9

In [59]:
#-- matrix multiplications
mat %*% mat

     [,1] [,2] [,3]
[1,]  30   36   42
[2,]  66   81   96
[3,] 102  126  150

In [60]:
#-- determinant
det(mat)

[1] -9.516197e-16

In [61]:
#-- trace !!! there is no function trace !!!
tr <- function(data)sum(diag(data))

tr(mat)

[1] 15

In [62]:
#-- transpose
t(mat)

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

In [63]:
#-- inverse == solve -- why?? and why an error?
solve(mat)

ERROR: Error in solve.default(mat): system is computationally singular: reciprocal condition number = 2.20282e-18

In [64]:
v1 = sample.int(100, 3)
v1

[1]  9 62 13

In [65]:
v2 = sample.int(100, 3)
v3 = sample.int(100, 3)

mat = matrix( c(v1,v2,v3), ncol=3, nrow=3, byrow = T)
mat

     [,1] [,2] [,3]
[1,]  9   62   13
[2,] 90   61   38
[3,] 92   80   72

In [66]:
#-- aha !!! why?
solve(mat)

     [,1]         [,2]        [,3]
[1,] -0.008883282  0.02249731 -0.010269652
[2,]  0.019606297  0.00360062 -0.005440353
[3,] -0.010433914 -0.03274725  0.033056059

### Why always a different result?

because the funciont is random sampler! it is stochastics  

many CTRL+ENTERs

In [67]:
v1 = sample.int(100, 3)
v2 = sample.int(100, 3)
v3 = sample.int(100, 3)

mat = matrix( c(v1,v2,v3), ncol=3, nrow=3, byrow = T)
mat

     [,1] [,2] [,3]
[1,] 21   66   50
[2,] 76   74    3
[3,] 18   56    3

**How to solve this "problem"?**

In [68]:
# try any seed value - the answer will be always the same
# computer / mathematical functions are false random number generators
set.seed(3)

v1 = sample.int(100, 3)
v2 = sample.int(100, 3)
v3 = sample.int(100, 3)

mat = matrix( c(v1,v2,v3), ncol=3, nrow=3, byrow = T)
mat

     [,1] [,2] [,3]
[1,] 17   80   38
[2,] 33   60   99
[3,] 13   30   57