author: Flavio Lichtenstein  
data update:  2019/02/08   
data created: 2016/07/20  
local: Molecular Biology/Inovation & CENTD - Butantan Institute  

Lecture 08 - loops, functions and programming

### Loops

![Type of loops](images/content_flowchart1.png)

[image form datacamp](https://www.datacamp.com/community/tutorials/tutorial-on-loops-in-r?utm_source=adwords_ppc&utm_campaignid=1658343524&utm_adgroupid=63833881375&utm_device=c&utm_keyword=%2Bloops%20%2Br&utm_matchtype=b&utm_network=g&utm_adpostion=1t1&utm_creative=319519154565&utm_targetid=kwd-589281898934&utm_loc_interest_ms=&utm_loc_physical_ms=1001773&gclid=CjwKCAiA7vTiBRAqEiwA4NTO68OxaT264j_ASFOBa_UXcvebKTOZX6nkt809ZXtKOmF_EhSe_tviBBoCe1YQAvD_BwE)

In [5]:
#--- simple loop ---
v = seq(1:10)


for (i in 1:length(v)) {
    cat(v[i])
}

12345678910

In [7]:
#--- loop dataframe

#-- how many rows and columns has mtcars

dim(mtcars)
nrow(mtcars)
ncol(mtcars)
rownames(mtcars)
colnames(mtcars)

[1] 32 11

[1] 32

[1] 11

 [1] "Mazda RX4"           "Mazda RX4 Wag"       "Datsun 710"
 [4] "Hornet 4 Drive"      "Hornet Sportabout"   "Valiant"
 [7] "Duster 360"          "Merc 240D"           "Merc 230"
[10] "Merc 280"            "Merc 280C"           "Merc 450SE"
[13] "Merc 450SL"          "Merc 450SLC"         "Cadillac Fleetwood"
[16] "Lincoln Continental" "Chrysler Imperial"   "Fiat 128"
[19] "Honda Civic"         "Toyota Corolla"      "Toyota Corona"
[22] "Dodge Challenger"    "AMC Javelin"         "Camaro Z28"
[25] "Pontiac Firebird"    "Fiat X1-9"           "Porsche 914-2"
[28] "Lotus Europa"        "Ford Pantera L"      "Ferrari Dino"
[31] "Maserati Bora"       "Volvo 142E"

 [1] "mpg"  "cyl"  "disp" "hp"   "drat" "wt"   "qsec" "vs"   "am"   "gear"
[11] "carb"

In [14]:
#--- print the fist 5 lines - ... for each line #i print the first 3 coluns
for (i in 1:5) {
    print(mtcars[i, c(1:3)])
}

          mpg cyl disp
Mazda RX4  21   6  160
              mpg cyl disp
Mazda RX4 Wag  21   6  160
            mpg cyl disp
Datsun 710 22.8   4  108
                mpg cyl disp
Hornet 4 Drive 21.4   6  258
                   mpg cyl disp
Hornet Sportabout 18.7   8  360

### Find lines to filter with grep

find cars having "Merc" or "Porsche" in name

In [18]:
cols = rownames(mtcars)
ns = c(grep("Merc", cols), grep("Porsche", cols))
ns

[1]  8  9 10 11 12 13 14 27

In [20]:
for (i in ns) {
    print(cols[i])
}

[1] "Merc 240D"
[1] "Merc 230"
[1] "Merc 280"
[1] "Merc 280C"
[1] "Merc 450SE"
[1] "Merc 450SL"
[1] "Merc 450SLC"
[1] "Porsche 914-2"

In [22]:
#--- Loops are very lazy !!!
#--- vectorization is much better

cols[ c(grep("Merc", cols), grep("Porsche", cols)) ]

[1] "Merc 240D"     "Merc 230"      "Merc 280"      "Merc 280C"
[5] "Merc 450SE"    "Merc 450SL"    "Merc 450SLC"   "Porsche 914-2"

### Defining functions

In [26]:
multi <- function(a,b) {
    return (a*b)
}

In [44]:
divi <- function(a,b) {
    if ( (b == 0) | is.null(b) | is.na(b)) {
        return (NA)
    }
    return (a/b)
}

In [45]:
multi(5,3)

[1] 15

In [46]:
divi(5,3)

[1] 1.666667

In [47]:
divi(5,NA)

[1] NA

In [48]:
divi(5,NULL)

ERROR: Error in if ((b == 0) | is.null(b) | is.na(b)) {: argument is of length zero

### Loops and functions

In [50]:
v = seq(1:10)


for (i in 1:(length(v)-1)) {
    print( paste(i, multi(v[i],v[i+1])))
}

[1] "1 2"
[1] "2 6"
[1] "3 12"
[1] "4 20"
[1] "5 30"
[1] "6 42"
[1] "7 56"
[1] "8 72"
[1] "9 90"